name: "Docker Build & Push"

on:
  workflow_dispatch:
    inputs:
      image_tag_versions:
        description: "Version/s of image tag (after ':') (comma-separated)"
        required: true
      push:
        description: "Push built image?"
        type: boolean
        required: true
        default: true

permissions: write-all
jobs:
  docker_build_push:
    name: "Docker Build & Push (${{ matrix.arch }})"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch:
          - amd64
          - arm64
    env:
      BASE_TAG: "ghcr.io/${{ github.repository_owner }}/gridcoin-wallet-gui"

    steps:
      - name: "Generate image tags"
        shell: python
        env:
          VERSIONS: ${{ github.event.inputs.image_tag_versions }}
        run: |
          import os
          base_tag = os.environ["BASE_TAG"]
          tags = []
          for version in os.environ["VERSIONS"].split(","):
            tag = f"{base_tag}:{version}"
            tag = tag.replace(" ", "").lower()
            tags.append(tag)
          with open(os.environ["GITHUB_ENV"], "a") as f:
            tags_str = ",".join(tags)
            f.write(f"DOCKER_TAGS={tags_str}\n")

      - name: "Show image tags"
        run: test "${{ env.DOCKER_TAGS }}" && echo "${{ env.DOCKER_TAGS }}" || exit 1
      - name: "Checkout"
        uses: actions/checkout@v6
      - name: "Set up Docker Buildx"
        uses: docker/setup-buildx-action@v3
      - name: "Login to GitHub Container Registry"
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: "Build and push"
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/${{ matrix.arch }}
          build-args: "ARCH=${{ matrix.arch }}"
          push: ${{ github.event.inputs.push }}
          tags: ${{ env.DOCKER_TAGS }}
